/*
ePunch

Electronic system to punch the clock with a RFID reader

Copyright 2012 by Alberto Russo <info@albertorusso.it>

This program is free software: you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation, either version 3 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with
this program. If not, see http://www.gnu.org/licenses/.
*/

@import(http://fonts.googleapis.com/css?family=Armata);

body{
    font-family: 'Armata', sans-serif;
}

:link, a:visited{
    color:#fff;
    text-decoration : none;
}   

a:hover{
    color:#fff;
    text-weight:bolder;
    text-decoration: none;
 
}
.top {
    position: relative;
    left: 50%;
    clear: both;
    width: 900px;
    margin-left: -450px;
    text-align: center;
} 

.header {
    float: left;
    width: 450px;
    text-align: left;
}

.control{
    height: 150px;
    width: 250px;
    float:left;
    text-align: center;
    margin-left:100px;
    margin-right:100px;
}

.content{
    position: relative;
    width: 900px;
    left: 50%;
    clear: both;
    margin-top: 10px;
    margin-left: -450px;
}

.table{
    float:left;
    width: 660px;
    height:600px;
}

.sidebar{
    text-align:left;
    float:left;
    margin-left:10px;
    width: 230px;
}

.menu{
    width: 900px;
    background-color: #000;
    position: relative;
    left: 50%;
    clear: both;
    margin-left: -450px;
    text-align: justify;
    color: #fff;
    height:25px;
    padding-top:5px;
}

.menu ul {
    margin: 0px auto;
    margin-top: 1px;
    list-style-type:none;
}

.menu li {
    margin-right: 32px;
    margin-left:32px;
    text-align:center;
    display:inline;
}

.menu li a:hover{
    color:#0099ad;
}

.content h3{
    border:1px solid;
    text-align:center;
    background-color:#0099ad;
    color:white;
}

.footer {
    width: 900px;
    background-color: #000;
    position: relative;
    left: 50%;
    clear: both;
    margin-left: -450px;
    text-align: center;
    color: #fff;
    height:25px;
    padding-top:5px;
    font-size:10pt;
	
}

.scroll{
    border: 0px solid;
    height:520px;
    overflow-y:auto;
    overflow-x:hidden;
}

.tb{
    width:650px;
}

.thead{
    color: white;
    background-color: #000;
    font-size: 10pt;
    border: 1px solid white;
}

.thead a:hover{
    color:#888;
    font-weight:bolder;
}

.thead th.order a{
    color:#0099ad;
    font-weight:bolder;
}


.tbody{
    text-align: center;    
}

.tbody tr{
    background-color: #CCC; 
}

a:link, a:visited{
    color:#fff;
    text-decoration : none;
}

a:hover{
    color:#fff;
    text-weight:bolder;
    text-decoration: none;

}
